.calcBtns {
  height: 90px;
  width: 90px;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #473c8b;
  user-select: none;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

.res {
  width: 180px;
  background-color: #9370db;
}
